<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkzj.dao.master.EpsmGalvanometerDao">
    <resultMap id="result_EpsmGalvanometer_Map" type="com.zkzj.entity.EpsmGalvanometer">
        <id column="EpsmGalvanometer0" property="galvanometerid" />
        <result column="EpsmGalvanometer1" property="galvanometercode" />
        <result column="EpsmGalvanometer2" property="galvanometername" />
        <result column="EpsmGalvanometer3" property="galvanometerserialno" />
        <result column="EpsmGalvanometer4" property="actorid" />
        <result column="EpsmGalvanometer5" property="companyid" />
        <result column="EpsmGalvanometer6" property="status" />
        <result column="EpsmGalvanometer7" property="remark" />
        <result column="EpsmGalvanometer8" property="deleteflag" />
        <result column="EpsmGalvanometer9" property="createtime" />
        <result column="EpsmGalvanometer10" property="creatorid" />
        <result column="EpsmGalvanometer11" property="updatetime" />
        <result column="EpsmGalvanometer12" property="updaterid" />
    </resultMap>

    <sql id="Assist">
        <where>
            <foreach collection="require" item="req" separator=" ">
                ${req.require} #{req.value}
            </foreach>
        </where>
    </sql>

    <sql id="updateAssist">
        <where>
            <foreach collection="assist.require" item="req" separator=" ">
                ${req.require} #{req.value}
            </foreach>
        </where>
    </sql>

    <sql id="t_epsm_galvanometer_Column">
        t_epsm_galvanometer.galvanometerid as EpsmGalvanometer0
        ,t_epsm_galvanometer.galvanometercode as EpsmGalvanometer1
        ,t_epsm_galvanometer.galvanometername as EpsmGalvanometer2
        ,t_epsm_galvanometer.galvanometerserialno as EpsmGalvanometer3
        ,t_epsm_galvanometer.actorid as EpsmGalvanometer4
        ,t_epsm_galvanometer.companyid as EpsmGalvanometer5
        ,t_epsm_galvanometer.status as EpsmGalvanometer6
        ,t_epsm_galvanometer.remark as EpsmGalvanometer7
        ,t_epsm_galvanometer.deleteflag as EpsmGalvanometer8
        ,t_epsm_galvanometer.createtime as EpsmGalvanometer9
        ,t_epsm_galvanometer.creatorid as EpsmGalvanometer10
        ,t_epsm_galvanometer.updatetime as EpsmGalvanometer11
        ,t_epsm_galvanometer.updaterid as EpsmGalvanometer12
    </sql>

    <select id="getEpsmGalvanometerRowCount" parameterType="com.zkzj.common.Assist" resultType="java.lang.Long">
        select count(galvanometerid) from t_epsm_galvanometer
        <if test="require!=null"><include refid="Assist" /></if>
    </select>
    <select id="selectEpsmGalvanometer" parameterType="com.zkzj.common.Assist"  resultMap="result_EpsmGalvanometer_Map">
        select  <if test="distinct !=null">${distinct}</if>
        <choose>
            <when test="resultColumn!=null">${resultColumn}</when>
            <otherwise>
        <include refid="t_epsm_galvanometer_Column" /> 
            </otherwise>
        </choose>
        from t_epsm_galvanometer
        <if test="require!=null"><include refid="Assist" /></if>
        <if test="order !=null">${order}</if>
        <if test="rowSize !=null"> LIMIT #{rowSize} <if test="startRow !=null"> OFFSET #{startRow}</if></if>
    </select> 

    <select id="selectEpsmGalvanometerById" parameterType="java.lang.String" resultMap="result_EpsmGalvanometer_Map">
        select 
            <include refid="t_epsm_galvanometer_Column" /> 
        from t_epsm_galvanometer
        where t_epsm_galvanometer.galvanometerid = #{id}
    </select> 


    <insert id="insertEpsmGalvanometer" parameterType="com.zkzj.entity.EpsmGalvanometer">
        insert into t_epsm_galvanometer(galvanometerid,galvanometercode,galvanometername,galvanometerserialno,actorid,companyid,status,remark,deleteflag,createtime,creatorid,updatetime,updaterid) 
        values(#{galvanometerid},#{galvanometercode},#{galvanometername},#{galvanometerserialno},#{actorid},#{companyid},#{status},#{remark},#{deleteflag},#{createtime},#{creatorid},#{updatetime},#{updaterid})
    </insert>

    <insert id="insertNonEmptyEpsmGalvanometer" parameterType="com.zkzj.entity.EpsmGalvanometer">
        insert into t_epsm_galvanometer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="galvanometerid != null">galvanometerid,</if>
            <if test="galvanometercode != null">galvanometercode,</if>
            <if test="galvanometername != null">galvanometername,</if>
            <if test="galvanometerserialno != null">galvanometerserialno,</if>
            <if test="actorid != null">actorid,</if>
            <if test="companyid != null">companyid,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="deleteflag != null">deleteflag,</if>
            <if test="createtime != null">createtime,</if>
            <if test="creatorid != null">creatorid,</if>
            <if test="updatetime != null">updatetime,</if>
            <if test="updaterid != null">updaterid,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="galvanometerid != null"> #{galvanometerid},</if>
            <if test="galvanometercode != null"> #{galvanometercode},</if>
            <if test="galvanometername != null"> #{galvanometername},</if>
            <if test="galvanometerserialno != null"> #{galvanometerserialno},</if>
            <if test="actorid != null"> #{actorid},</if>
            <if test="companyid != null"> #{companyid},</if>
            <if test="status != null"> #{status},</if>
            <if test="remark != null"> #{remark},</if>
            <if test="deleteflag != null"> #{deleteflag},</if>
            <if test="createtime != null"> #{createtime},</if>
            <if test="creatorid != null"> #{creatorid},</if>
            <if test="updatetime != null"> #{updatetime},</if>
            <if test="updaterid != null"> #{updaterid},</if>
        </trim>
    </insert>

    <delete id="deleteEpsmGalvanometerById" parameterType="java.lang.String">
        delete from t_epsm_galvanometer
        where galvanometerid = #{id}
    </delete>

    <delete id="deleteEpsmGalvanometer" parameterType="com.zkzj.common.Assist">
        delete from t_epsm_galvanometer
        <if test="require!=null"><include refid="Assist" /></if>
    </delete>

    <update id="updateEpsmGalvanometerById" parameterType="com.zkzj.entity.EpsmGalvanometer">
        update t_epsm_galvanometer set
            galvanometercode=#{galvanometercode}
            ,galvanometername=#{galvanometername}
            ,galvanometerserialno=#{galvanometerserialno}
            ,actorid=#{actorid}
            ,companyid=#{companyid}
            ,status=#{status}
            ,remark=#{remark}
            ,deleteflag=#{deleteflag}
            ,createtime=#{createtime}
            ,creatorid=#{creatorid}
            ,updatetime=#{updatetime}
            ,updaterid=#{updaterid}
        where galvanometerid=#{galvanometerid}
    </update>

    <update id="updateNonEmptyEpsmGalvanometerById" parameterType="com.zkzj.entity.EpsmGalvanometer">
        update t_epsm_galvanometer
        <set>
            <if test="galvanometercode != null">
                galvanometercode=#{galvanometercode},
            </if>
            <if test="galvanometername != null">
                galvanometername=#{galvanometername},
            </if>
            <if test="galvanometerserialno != null">
                galvanometerserialno=#{galvanometerserialno},
            </if>
            <if test="actorid != null">
                actorid=#{actorid},
            </if>
            <if test="companyid != null">
                companyid=#{companyid},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
            <if test="remark != null">
                remark=#{remark},
            </if>
            <if test="deleteflag != null">
                deleteflag=#{deleteflag},
            </if>
            <if test="createtime != null">
                createtime=#{createtime},
            </if>
            <if test="creatorid != null">
                creatorid=#{creatorid},
            </if>
            <if test="updatetime != null">
                updatetime=#{updatetime},
            </if>
            <if test="updaterid != null">
                updaterid=#{updaterid},
            </if>
        </set>
        where galvanometerid=#{galvanometerid}
    </update>

    <update id="updateEpsmGalvanometer" parameterType="map">
        update t_epsm_galvanometer
        <set>
                galvanometerid=#{enti.galvanometerid},
                galvanometercode=#{enti.galvanometercode},
                galvanometername=#{enti.galvanometername},
                galvanometerserialno=#{enti.galvanometerserialno},
                actorid=#{enti.actorid},
                companyid=#{enti.companyid},
                status=#{enti.status},
                remark=#{enti.remark},
                deleteflag=#{enti.deleteflag},
                createtime=#{enti.createtime},
                creatorid=#{enti.creatorid},
                updatetime=#{enti.updatetime},
                updaterid=#{enti.updaterid},
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

    <update id="updateNonEmptyEpsmGalvanometer" parameterType="map">
        update t_epsm_galvanometer
        <set>
            <if test="enti.galvanometerid != null">
                galvanometerid=#{enti.galvanometerid},
            </if>
            <if test="enti.galvanometercode != null">
                galvanometercode=#{enti.galvanometercode},
            </if>
            <if test="enti.galvanometername != null">
                galvanometername=#{enti.galvanometername},
            </if>
            <if test="enti.galvanometerserialno != null">
                galvanometerserialno=#{enti.galvanometerserialno},
            </if>
            <if test="enti.actorid != null">
                actorid=#{enti.actorid},
            </if>
            <if test="enti.companyid != null">
                companyid=#{enti.companyid},
            </if>
            <if test="enti.status != null">
                status=#{enti.status},
            </if>
            <if test="enti.remark != null">
                remark=#{enti.remark},
            </if>
            <if test="enti.deleteflag != null">
                deleteflag=#{enti.deleteflag},
            </if>
            <if test="enti.createtime != null">
                createtime=#{enti.createtime},
            </if>
            <if test="enti.creatorid != null">
                creatorid=#{enti.creatorid},
            </if>
            <if test="enti.updatetime != null">
                updatetime=#{enti.updatetime},
            </if>
            <if test="enti.updaterid != null">
                updaterid=#{enti.updaterid},
            </if>
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

</mapper>